*{
    padding: 0;
    margin: 0;
}
body{
     font-family: Arial, Helvetica, sans-serif;
    /*background-color: #eee;*/
}
#header{
    background: black;
    padding: 10px;
}
#header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
#header ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
#footer{
    background-color: #ccc;
    padding: 20px;
}
