.app-sidebar__user-avatar {
    width: 48px;
    background: gray;
    padding: 6px;
}
.app-sidebar__toggle{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
}
.app-sidebar__toggle::before{
	display: none;
}
.headerRegister, .header-primary{
	background: #ff4f04;
	color: #FFF;
}
.headerUpdate{
	background: #007bff;
	color: #FFF;
}
.notBlock{
	display: none;
}